.categoria__container {
  margin-bottom: 88px;
}
.categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.card__categoria {
  height: 220px;
  width: 312px;
  background-color: var(--background-quaternary);
  font-size: 28px;
  font-weight: var(--weight-title);
  text-align: center;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.card__img {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .categorias {
    flex-flow: row wrap;
    justify-content: center;
  }
  .card__categoria {
    height: 220px;
    width: 312px;
  }
}

@media screen and (min-width: 768px) {
  .card__categoria {
    height: 220px;
    width: 312px;
  }
}
@media screen and (min-width: 1440px) {
  .card__categoria {
    height: 220px;
    width: 281.25px;
  }
}
