* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary: #ffffff;
  --background-secondary: #f5f5f5;
  --background-tertiary: #000000;
  --button-primary: #8f0101;
  --button-secondary: #b81515;
  --text-primary: #222222;
  --text-secondary: #ffffff;
  --font-primary: "Montserrat";
  --weight-title: 700;
  --weight-text: 400;
  --weight-menu-text: 500;
}

body {
  font-family: var(--font-primary);
}
