* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary: #ffffff;
  --background-secondary: #f5f5f5;
  --background-tertiary: #000000;
  --background-quaternary: #d9d9d9;
  --button-primary: #8f0101;
  --button-secondary: #b81515;
  --text-primary: #222222;
  --text-secondary: #ffffff;
  --font-primary: "Montserrat";
  --weight-title: 700;
  --weight-text: 400;
  --weight-menu-text: 500;
}

body {
  font-family: var(--font-primary);
  color: var(--text-primary);
}

.section__title h2 {
  font-size: 28px;
  font-weight: var(--weight-title);
  margin: 0;
  text-align: center;
  padding: 0;
}
.section__title hr {
  width: 180px;
  height: 4px;
  background-color: var(--button-secondary);
  margin: 0 auto;
  border: none;
  margin: 16px auto 32px;
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary);
  font-weight: var(--weight-title);
  font-size: 20px;
  background-color: var(--button-secondary);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
  text-align: center;
}
.button:hover {
  background-color: var(--button-primary);
}
@media screen and (min-width: 768px) {
  .section__title h2 {
    font-size: 32px;
  }
}
