header {
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 24px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navigation__menu {
  margin-top: 6px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary);
}
nav {
  display: none;
}
.list__link {
  list-style: none;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.list__link li {
  margin: 1.5rem 0;
}
.list__link li a {
  color: var(--text-secondary);
  text-decoration: none;
  display: block;
}
