header {
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 24px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navigation__menu {
  margin-top: 6px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
}
nav {
  display: none;
}
