header {
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 24px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navigation__menu {
  margin-top: 6px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary);
}
nav {
  display: none;
}

.list__link {
  list-style: none;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.list__link li {
  margin: 1.5rem 0;
}
.list__link li a {
  color: var(--text-secondary);
  text-decoration: none;
  display: block;
  font-weight: var(--weight-menu-text);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  body {
    background-color: red;
  }
  .navigation__menu {
    margin-top: 0;
    width: 467px;
  }
  .list__link li {
    margin: 0;
  }
  .list__link {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__menu label {
    display: none;
  }
  .navigation__menu nav {
    display: block;
  }
}
