* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #ffffff;
    --background-secondary: #F5F5F5;
    --background-tertiary: #000000;
    --button-primary: #8F0101;
    --button-secondary: #B81515;
     --text-primary:#222222;
    --text-secondary: #ffffff;

}

h1{
    color: var(--text-secondary);
}