@import url(./global.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./offer.css);
@import url(./category.css);
@import url(./destination.css);
@import url(./payments.css);
@import url(./testimonial.css);
