.testimonial {
  margin-bottom: 88px;
}
.testimonial__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonial__text {
  font-size: 16px;
  line-height: 28px;
}

.testimonial__footer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.testimonial__footer img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial__footer > div {
  display: flex;
  flex-direction: column;
}

.testimonial__footer h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--weight-title);
}

.rating {
  display: flex;
  gap: 4px;
}

.star {
  font-size: 32px;
  line-height: 32px;
  color: var(--button-secondary);
}

@media screen and (min-width: 1440px) {
  .testimonial__container {
    flex-direction: row;
  }
}
